.targeMrental {
  font-family: "Myanmar MN";
  font-size: 26px;
  background: linear-gradient(rgba(197, 153, 0, 1), rgba(197, 153, 0, 0.5));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.targeMrental span {
  font-size: 36px;
}

.heder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

.list button {
  border: none;
  background-color: #4f4f4f;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
}

.button {
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  width: 150px;
  color: white;
  background-color: rgba(224, 0, 0, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 19.5px;
}
